.body
  // Notification
  --noti-color var(--color-white)
  --noti-default-background #44A4FC
  --noti-default-border #187FE7
  --noti-error-background #E54D42
  --noti-error-border #B82E24
  --noti-success-background #68CD86
  --noti-success-border #42A85F
  --noti-warm-background #ffb648
  --noti-warm-border #f48a06
