.body
  --main-bg #151619

  // Colors
  --color-main hsl(0, 0, 90)
  --color-main-invert hsl(0, 0, 0)
  --color-white hsl(0, 0, 100)
  --color-white-alpha hsla(0, 0, 100, .8)
  --color-grey hsla(0, 0, 90, .6)
  --c-text-second hsla(0, 0, 90, .4)
  --c-text-main-dim hsla(0, 0, 90, .6)

  // Backgrounds
  --bg-active-1 #242529
  --header-bg #1c1d21
  --sidebar-bg #0f1419

  // Buttons
  --btn-red-background hsl(360, 80, 40)
  --btn-red-background-disabled hsl(360, 60, 40)
  --btn-red-color var(--color-white)

  // Categories
  --cat-color-main hsl(0, 0, 100)
  --cat-color-main-text hsl(0, 0, 100)
  --cat-color-second hsla(0, 0, 100, .7)

  // Icons
  --color-icon-color hsl(0, 0, 95)
  --color-icon-color-invert #1c1d21
  --color-icon-bg #272a36
  --color-icon-bg-invert hsl(0, 0, 90)

  --group-border #111214
  --group-chart-bg #18191e

  // Trn
  --date-background #242529
  --color-line-1 #17191c
  --trns-list-bg #1c1d21

  // Money
  --color-incomes #2cad22
  --color-expenses #f92134

  // Modals
  --modal-overflow-bg hsla(0, 0, 0, .8)
  --modal-background-1 #1c1d21
  --modal-border-1 hsl(0, 0, 4)

  // TrnForm
  --trnForm-header-color white
  --trnForm-header-bg #1c1d21
  --trnForm-header-border hsl(0, 0, 4)
  --trnForm-action-color white
  --trnForm-calculator-border hsl(0, 0, 20)
  --trnForm-calculator-bg-1 hsla(0, 0, 90, .1)
  --trnForm-calculator-bg-2 hsla(360, 80, 40, .1)

  // Forms
  --form-background hsla(0, 0, 90, .1)
  --form-background-2 hsla(360, 80, 40, .1)
  --form-border hsl(0, 0, 20)
