.body._light
  --main-bg #ffffff

  // Colors
  --color-main hsl(0, 0, 30)
  --color-main-invert hsl(0, 0, 90)
  --color-grey hsl(0, 0, 60)
  --color-white hsl(0, 0, 95)
  --color-white-alpha hsla(0, 0, 100, .8)
  --c-text-second hsla(0, 0, 0, .4)
  --c-text-main-dim hsla(0, 0, 0, .6)

  // Backgrounds
  --bg-active-1 #242529
  --header-bg hsl(0, 0, 96)
  --sidebar-bg #e6e6e6

  // Buttons
  --btn-red-background hsl(360, 80, 60)
  --btn-red-background-disabled hsl(360, 70, 60)
  --btn-red-color white

  // Categories
  --cat-color-main hsl(0, 0, 100)
  --cat-color-main-text hsl(0, 0, 30)
  --cat-color-second hsla(0, 0, 100, .8)

  // Icons
  --color-icon-color hsl(0, 0, 100)
  --color-icon-color-invert #1c1d21
  --color-icon-bg #506c8a
  --color-icon-bg-invert hsl(0, 0, 100)

  --group-border hsl(0, 0, 90)
  --group-chart-bg #fbfbfb

  // Trn
  --date-background hsl(0, 0, 96)
  --color-line-1 hsl(0, 0, 95)
  --trns-list-bg #fdfdfd

  // Money
  --color-incomes #2cad22
  --color-expenses #f92134

  // Modals
  --modal-overflow-bg hsla(0, 0, 0, .8)
  --modal-background-1 hsl(0, 0, 96)
  --modal-border-1 hsl(0, 0, 80)

  // TrnForm
  --trnForm-header-color white
  --trnForm-header-bg #6288ad
  --trnForm-header-border transparent
  --trnForm-action-color white
  --trnForm-calculator-border hsl(0, 0, 90)
  --trnForm-calculator-bg-1 hsla(0, 0, 90, .5)
  --trnForm-calculator-bg-2 hsla(360, 80, 40, .1)

  // Forms
  --form-background hsla(0, 0, 90, .5)
  --form-background-2 hsla(360, 80, 40, .1)
  --form-border hsl(0, 0, 90)
