// Small
$m1 = 1px
$m2 = 2px
$m3 = 3px

// Medium
$m4 = 4px
$m5 = 6px
$m6 = 10px

// Normal
$m7 = 15px
$m8 = 20px
$m9 = 26px
$mn = 26px

// Big
$mn1 = 30px
$mn2 = 36px

// Extra big
$mb1 = 50px
$mb2 = 60px
