.categoriesList
  //

.categoriesListIcons
  display flex
  flex-flow row wrap
  padding 0 $m7
  padding-bottom $m9
  border-bottom 1px solid var(--color-line-1)

  &
    margin-bottom $m9

  &:last-child
    margin-bottom 0
    padding-bottom 0
    border 0
