.dates
  display grid
  grid-template-columns repeat(3, 1fr)
  grid-column-gap $m8
  grid-row-gap $m9
  padding 0 $m8

  &__item
    width auto
    max-width 100%
    padding $m8 0
    white-space nowrap
    text-align center
    background var(--form-background)
    border-radius $m3
    border 0

    &-icon
      font-size 38px
      padding-bottom $m6
      color var(--color-grey)

    &-name
      //

    &:active
      background var(--color-grey)

    input
      pointer-events none
      opacity 0
      height 1px
      overflow hidden
      display block
      cursor pointer
      width 100%
      text-align center
      border 0
      background 0
      font-primary()
      color var(--color-main)
      font-size 16px

