.trnForm
  z-index 2
  position fixed
  left 0
  bottom 0
  width 100%
  height auto

  &__overflow
    position fixed
    left 0
    bottom 0
    width 100%
    height 100%
    background var(--modal-overflow-bg)

  &__wrap
    max-width 420px
    margin-left auto
    position relative
    flex-grow 1
    display flex
    flex-flow column nowrap
    background var(--main-bg)

  &__scroll
    max-height 96vh
    overflow hidden
    overflow-y auto
    scrollbar()

  &__header
    display flex
    justify-content space-between

  &__headerItem
    position relative
    display flex
    align-items center
    flex-grow 1
    padding $m8 $m8
    width 50%
    background var(--trnForm-header-bg)
    border-bottom 1px solid var(--trnForm-header-border)
    border-left 1px solid transparent

    &:active
      opacity .9

    &:last-child
      border-left-color var(--trnForm-header-border)

  &__icon
    position absolute
    right $m7
    top (- $mn1)

  &__total
    padding-top $m5

    .amount__wrap
      justify-content flex-start
      color var(--trnForm-header-color)

    .amount__wrap._small
      display none

  &__name
    font-size 20px
    color var(--trnForm-header-color)

  &__selectedDate
    padding $m6 $m9
    text-align center

.trnFormAmount
  padding $m9
  text-align right

  &:active
    background var(--trnForm-amount-activr-bg)

  &._expenses
    color var(--color-expenses)

  &._incomes
    color var(--color-incomes)

  &__type
    align-self center
    padding-bottom $m6

  &__value
    width 100%
    overflow hidden
    overflow-x auto
    scrollbar()
    display block
    align-self center
    justify-self center
    typo-money()
    padding 0
    font-weight 500
    font-size 42px
    line-height 32px
    background none
    border none
    text-align right

    ^[0]._expenses &
      color var(--color-expenses)

    ^[0]._incomes &
      color var(--color-incomes)
