.header
  z-index 2
  overflow hidden
  position fixed
  left 0
  top 0
  display flex
  align-items center
  justify-content space-between
  width 100%
  height 56px
  padding 0 $m8
  padding-right 0
  background var(--header-bg)
  border-bottom 1px solid var(--modal-border-1)

  &__right
    display flex

  &__action
    font-size 22px
    padding $mn $m7
    color var(--c-text-second)

    &:active
      background var(--sidebar-bg)

    &._active
      color var(--c-text-main)
