.lastUsedPairs
  //

.lastUsedPairsItem
  overflow hidden
  margin 0 $m7
  margin-bottom $m9
  border-radius $m3

  &__categories
    overflow hidden
    overflow-x auto
    scrollbar()
    display flex
    padding $m7 $m6
    background var(--trns-list-bg)

    &:after
      content ""
      display flex
      flex 0 0 $m6

    .categoryItem
      margin 0 $m5


