.sidebar
  width 290px
  background var(--sidebar-bg)
  border-right 1px solid var(--modal-border-1)

  &__scroll
    overflow hidden
    overflow-y scroll
    padding $m9 0
    height calcMinus(100vh, 56px)
    scrollbar()

