mixin head
  title Finapp Next

  //- Main
  meta(charset="utf-8")
  meta(name="format-detection" content="telephone=no")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  //- Favicons
  link(rel="apple-touch-icon", sizes="180x180", href="/next/favicons/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/next/favicons/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/next/favicons/favicon-16x16.png")
  link(rel="manifest", href="/next/favicons/site.webmanifest")
  link(rel="mask-icon", href="/next/favicons/safari-pinned-tab.svg", color="#1c1d21")
  link(rel="shortcut icon", href="/next/favicons/favicon.ico")
  meta(name="msapplication-TileColor", content="#1c1d21")
  meta(name="msapplication-config", content="/next/favicons/browserconfig.xml")
  meta(name="theme-color", content="#1c1d21")
