//- Includes
include head
include styles


//- Layout
doctype html
html
  head
    +head
    +styles

  body.body._light
    .app
      .loader
        .loader__wrap
          .spinner._hidden
            .spinner__b._b1
            .spinner__b._b2
            .spinner__b._b3
          .appName Finapp Next
