- var fonts = "Roboto:400,500,700|Unica+One&amp;subset=cyrillic"

mixin link(href)
  link(href=href rel="stylesheet")

mixin styles
  +link("https://fonts.googleapis.com/css?family=" + fonts)
  +link("https://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css")
  +link("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
